# Dependencies
node_modules/

# Build outputs
dist/
.angular/

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*
.npmrc

# Environment
.env
.env.local

# AI
.claude/*